<div class="d-flex flex-column mt-5">
  <div class="pl-5">
    <h2>
      Este es tu AIDID: {{user.id}}
    </h2>
  </div> 
  <div class="mt-5 d-flex justify-content-around">
    <div routerLink="/createProject" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Crea un proyecto</h5>
        <p class="card-text">Crea proyectos solidarios para que miles de personas puedan sumarse a tus iniciativas</p>
      </div>
    </div>
    <div routerLink="/listProject" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Consulta tus proyectos</h5>
        <p class="card-text">Consulta información sobre tus proyectos solidarios</p>
      </div>
    </div>
    <div routerLink="/membership" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Consulta tus miembros</h5>
        <p class="card-text">Consulta información sobre tus mimebros</p>
      </div>
    </div>
    <div routerLink="/donation" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Consulta tus donaciones</h5>
        <p class="card-text">Consulta información sobre las donaciones hechas a tu organización</p>
      </div>
    </div>
  </div>
   
</div>