<div class="container-fluid col-12 col-lg-8 col-sm-8 col-xl-8 mt-5" *ngIf="solidarityHistory">
    <table id="donation-list" class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Más Info</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let donation of donations">
                <td>
                    {{donation.id}}
                </td>
                <td>
                    {{donation.amount}} €
                </td>
                <td>
                    {{donation.created | date:'dd/MM/yyyy'}}
                </td>
                <td>
                    <button (click)="moreInfoDonation(donation)" type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#masInfoDonationModalCenter">Más Info.</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal  Mas Info Project Participation -->
<div class="modal fade" id="masInfoDonationModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="masInfoDonationModelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title d-flex justify-content-center" id="masInfoDonationModalLongTitle">Mas Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!donations">
                    <h1>cargando...</h1>
                </div>
                <div *ngIf="donations">
                    <div> <span class="font-weight-bold">nombre del usuario:</span>
                        {{solidarityHistory.collaboratorUserName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>