<div class="d-flex flex-column mt-5">
  <div class="pl-5">
    <h2>
      Este es tu AIDID: {{user.id}}
    </h2>
  </div> 
  <div class="mt-5 d-flex justify-content-around">
    <div routerLink="/list-organization" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Buscar ONG</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <div routerLink="/listProject" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Buscar proyectos</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <div routerLink="/history" class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Consultar mi historial</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  </div> 
  
</div>